aiohttp
jinja2
# Pinning to <4.0 due to compatibility with the 3.1 controller version
juju @ https://test-files.pythonhosted.org/packages/75/a8/65e80bc415ddede5e466a617390d34cc3d1582f811240af27f7e0baee4ac/juju-3.6.1.0rc5-py3-none-any.whl
lightkube
pytest-operator
pyyaml
requests
tenacity
# Pin to >=0.4.0 because the reusable test infrastructure is on that version and above
# This prevents pip-compile from trying to pin an earlier version
charmed-kubeflow-chisme>=0.4.0
