aiohttp
jinja2
# Pinning to <4.0 due to compatibility with the 3.1 controller version
juju @ https://test-files.pythonhosted.org/packages/38/59/6065b5c17557ca030bf597a203b0b8032594627e1842e273df1b4cd0428c/juju-3.6.1.0rc4-py3-none-any.whl
lightkube
pytest-operator
pyyaml
requests
tenacity
# Pin to >=0.4.0 because the reusable test infrastructure is on that version and above
# This prevents pip-compile from trying to pin an earlier version
charmed-kubeflow-chisme>=0.4.0
